#######################################
# Project-specific ignores
#######################################

# Ignore everything in outputs_synthetic and subfolders
outputs_synthetic/**

# MONA outputs
outputs_mona/
!outputs_mona/.gitkeep
!outputs_mona/tables/.gitkeep
!outputs_mona/plots/.gitkeep
!outputs_mona/models/.gitkeep

# Allow these directories to exist
!outputs_synthetic/
!outputs_synthetic/tables/
!outputs_synthetic/models/
!outputs_synthetic/plots/

# Keep only .gitkeep files
!outputs_synthetic/.gitkeep
!outputs_synthetic/tables/.gitkeep
!outputs_synthetic/models/.gitkeep
!outputs_synthetic/plots/.gitkeep


#######################################
# Python / Jupyter
#######################################

__pycache__/
*.py[cod]
.ipynb_checkpoints/


#######################################
# Environments / packages
#######################################

.venv/
venv/
env/
ENV/


#######################################
# OS / editor files
#######################################

.DS_Store
Thumbs.db
*.swp
*~


#######################################
# Logs / temp
#######################################

*.log
tmp/
temp/
*.tmp
*.bak

#######################################
# Extras
#######################################

python_scripts/local_scripts/rq3b_analyses.py
chapter_3.tex
*.dta